/* 设置标题框的大小 */
.title-wrapper{
    width: 410px;
    /* height: 76px; */
    margin: 0 auto;
}
.title-wrapper a{
    display: block;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}
.title-name{
    font-size: 35px;
    color: #343A40;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 700 !important;
}
.title-content{
    width: 100%;
    font-size: 0.875rem;
    text-align: center;
    font-weight: 700!important;
    color: #6C757C;
    margin-top: 5px;
    margin-bottom: 22px;
}


.title-wrapper a:hover{
    text-decoration: underline;
}

.input{
    margin-bottom: 24px;
}
ul li{
    float: left;
    font-size: 16px;
    font-weight: 700 !important;
    color: #6c757d;
}
.line,.line:hover{
    margin: 0 10px;
    color: #E8E8E8;
}
.register{
    margin-left: 165px;
}

.el-button span{
    font-size: 21px;
    vertical-align: -2px;
    margin-right: -4px;
}
.font1{
    font-weight: 700 !important;
}
.clearfix1{
    margin-bottom: 45px;
}
ul li:hover{
    color: #3D4246;
}

.titlebtn{
    float: right;
    margin-top: -52px;
    margin-right: 4px;
    width: 57px;
    height: 46px;
    border: #fff;
    border-radius: 4px;
    background-color: #F8F9FC;
    font-weight: 900 !important;
    font-size: 18px;
}
.titlebtn:hover{
background-color: #D7DEED;
}
